		<div id="recommended-wrap">
        	<ul  id="recommended">
        		<% for(i=0; i<recommended.length; i++) { %>
        			
        				<% if(recommended[i].type == "link") { %> 
        					<li class="recommended-item">
	        					<a href="<%= recommended[i].url %>"><%= recommended[i].name %></a>  
	        				</li>
	        			<% } else if (recommended[i].type == "button") { %>
	        				<li id="highlight" class="recommended-item">
	        					<div id="highlight-btn" class="btn"><%= recommended[i].name %><i id="highlight-icon"></i></div>
	        				</li>
	        			<% } %>   		
        		<% } %>
    
        	</ul><!--/#recommended -->
        </div><!--/#recommended-wrap -->
        <div class="clearfix"></div>
        <div id="highlight-box" class="clearfix none">
        	<% for( i=0 ; i < highlights.length; i++) { %>
        	
    			<div class="hlb-sp<%= highlights[i].size %> hlb-h<%= highlights[i].size %> hlb-<%= highlights[i].type %>"> 
    				<div class="p<%= highlights[i].size %>0">	
        	
	        		<% if( highlights[i].backgroundImg != null && highlights[i].backgroundImg != "") { %>
	        				<div class="hlb-imgbg"><img src="assets/<%= highlights[i].backgroundImg %>"></div>
	        		<%	} %>
	        		<% if( highlights[i].kicker != null &&  highlights[i].kicker != "") { %>
	        			<p class="hlb-kicker"> <%= highlights[i].kicker %> </p>
	        		<%	} %>
	        		<% if (highlights[i].size > 1)  { %>
	        			<p class="hlb-subtitle"> <%= highlights[i].subtitle %></p>
	        		<% } %>	
	        		<% if( highlights[i].title != null &&  highlights[i].title != "") { %>
	        			<p class="hlb-title"> <%= highlights[i].title %> </p>	
	        		<% } %>	
	        		<% if( highlights[i].icon != null &&  highlights[i].icon != "") { %>
	        				<img src="assets/<%=  highlights[i].icon %>" class="hlb-icon">
	        		<% }%>
	        		<% if( highlights[i].size ==1 && highlights[i].subtitle != null ) { %>
	        			<p class="hlb-subtitle"> <%= highlights[i].subtitle %></p>
	        		<% } %>
	        		<% if( highlights[i].description != null ) { %>
	        			<p class="hlb-desc"> <%= highlights[i].description %> </p>
	        		<% } %>
	        		<i class="icon-white icon-<%=highlights[i].type %>"></i>
        		</div>
        		</div>
        	<% } %>
        	
        </div><!--/#highlight-box -->