
        	<div id="filter-box" class="clearfix">
        		<div id="filter-category" class="filter-btn">
        			<select data-placeholder="Categories" class="chzn-select" id="filter-category-select">
        			<option value=""></option>
        			<option value="">All Categories</option>
        			<% for (i = 0; i< categories.length; i++) { 
        				 if (categories[i].children.length == 0) { %>
        					<option value="<%= categories[i].name %>"> <%= categories[i].name %> </option>
        				 <% } else {  %>
        					<optgroup lable="<%= categories[i].name %>">
        						<% for (j = 0; j < categories[i].children.length; j++) { %>
        							<option value="<%= categories[i].children[j].name %>"> <%= categories[i].children[j].name %> </option>
        						<% } %>
        					</optiongroup>
        				<%  } %>
        			<% } %>
        			</select>
			        
                </div><!-- /category -->
        		<div id="filter-feature" class="filter-btn">
			        <select data-placeholder="Features" class="chzn-select" id="filter-feature-select">
			        <option value=""></option>
        			<option value="">All Features</option>
			          <% for ( i=0; i< features.length; i++ ) { %>
			          	 <option value="<%= features[i].name %>"> <%= features[i].name %> </option>
			          <% } %>
			        </select>
        		</div><!-- /feature -->

	        	<div id="filter-price" class="filter-btn">
	        			<i class="icon-price"></i>
	        	</div><!-- /price -->  
	        	<div id="filter-rating" class="filter-btn">
	        			<i class="icon-rating"></i>
	        	</div><!-- /rating -->    
	        	<div id="filter-time" class="filter-btn smlDropdown">
	        			<i class="icon-calendar smlDropdown-toggle"><b class="caret pull-right"></b></i>
	        			<ul class="smlDropdown-menu" role="menu" aria-labelledby="dLabel">
						    <li><a tabindex="-1" href="#">All Time</a></li>
						    <li><a tabindex="-1" href="#">Today</a></li>
						    <li><a tabindex="-1" href="#">This Week</a></li>
						    <li><a tabindex="-1" href="#">This Month</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">Separated link</a></li>
						  </ul>
				        
	        	</div><!-- /time -->   
	        	<div id="filter-lan" class="filter-btn">
	        			<i class="icon-globe"></i>
	        	</div><!-- /place -->
	        	<div id="filter-tag" class="filter-btn smlDropdown">
	        			<i class="icon-tags smlDropdown-toggle"><b class="caret pull-right"></b></i>
	        			<div class="smlDropdown-menu">
	        				<div class="smlDropdown-inner">
		        				<select data-placeholder="Tags" class="chzn-select" multiple="" id="filter-tags-select">
	        			<% for (i = 0; i< tags.length; i++) { %>
	        					<option value="tags[i].name"> <%= tags[i].name %> </option>
	        			<% } %>
	        					</select>
	        					<div id="hotTags" class="tags">
	        						<div>Hot tags</div>
	        						<% for (i = 0; i< popularTags.length; i++) { %>
		        						<a href="#" class="tag btn"> <%= popularTags[i].name %> </a> 
	        						<% } %>
	        					</div>
        					</div>
	        			</div>
	        	</div><!-- /tag -->    
	        	<div id="filter-device" class="filter-btn smlDropdown">
	        			<i class="icon-device smlDropdown-toggle"><b class="caret pull-right"></b></i>
	        			<ul class="smlDropdown-menu">
						    <li><a tabindex="-1" href="#">All Devices</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">iPhone 5</a></li>
						    <li><a tabindex="-1" href="#">iPhone 4</a></li>
						    <li><a tabindex="-1" href="#">iPhone</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">iPad 4</a></li>
						    <li><a tabindex="-1" href="#">iPad</a></li>
						    <li class="divider"></li>
						    <li><a tabindex="-1" href="#">iMac</a></li>
						  </ul>
	        	</div><!-- /device -->

        		<div id="filter-keyword" class="filter-btn form-search">
					    <input type="text" class="search-query">
					    <i class="icon-search"></i>
        		</div><!-- /keyword -->  
        		<div id="filter-advanced" class="filter-btn smlDropdown">
        			<span class="smlDropdown-toggle">Advanced Filter<b class="caret pull-right"></b></span>
        			<ul class="smlDropdown-menu">
						    <li><a tabindex="-1" href="#">Advanced-1</a></li>
						    <li><a tabindex="-1" href="#">Advanced-2</a></li>
						    <li><a tabindex="-1" href="#">Advanced-3</a></li>
						    <li><a tabindex="-1" href="#">Advanced-4</a></li>
					</ul>
        		</div>  <!-- /advanced -->        		
        	</div><!--/#filter-box -->
        	<div id="filter-summary">
        		<div> <span id="filter-category-result"> Most Popular </span> <span id="filter-feature-result"> Free </span> Games updated within  last 30 days  + <a class="btn-tag btn btn-small">For Kids</a><a class="btn-tag btn btn-small">Education</a></div>
        	</div><!--/#filter-summary -->
