

	
		<div class="dev-basicInfo pull-left">
			<% if (obj.location) { %>
			<div class="dev-where">
				<span class="dev-location">
					<i class="icon-map-marker"></i> <%= location %>
				</span> - 
				<span class="dev-distance">
					<%= distance %> far from you
				</span>
			</div><!--where-->
			<% } %>
			<a class="dev-name" href="/developers/id<%= id %>">
				<%= name %>
				<% if (obj.verified && verified > 0) {%>
				<i class="icon-verified" title="Verified" rel="tooltip"></i>
				<% } %>
			</a><!--name-->
			<div class="clearfix">
				<div class="dev-rate pull-left">
					<%= rate %>
				</div>
				<div class="social-share pull-right" style="height:30px;display:none">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
						<a class="addthis_button_facebook"></a>
						<a class="addthis_button_twitter"></a>
						<a class="addthis_button_google_plusone" g:plusone:annotation="none"></a> 
					</div>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b82f6610809c25"></script>
					<!-- AddThis Button END -->
				</div>
			</div>
			<div class="dev-desc">
			<%= description %>
			</div>
			<div class="clearfix">
	        					<div class="dev-links pull-left">
	        						
	        						<a <% if (obj.homepage) { %>
	        						 href="<%= homepage %>"
	        						<% } %> class="icon-homepage 
	        						<% if (obj.homepage) { %>
	        						active
	        						<% } %>" title="Homepage" 
	        						rel="tooltip" target="_blank"></a>
	        						
	        						<a <% if (obj.twitter) { %>
	        						 href="<%= twitter %>"
	        						<% } %> class="icon-twi 
	        						<% if (obj.twitter) { %>
	        						active
	        						<% } %>" title="Twitter" 
	        						rel="tooltip" target="_blank"></a>
	        						
	        						<a <% if (obj.email) { %>
	        						 href="mailto:<%= email %>"
	        						<% } %> class="icon-email 
	        						<% if (obj.email) { %>
	        						active
	        						<% } %>" 
	        						title="Email"  rel="tooltip" target="_blank"></a>
	        						
	             				</div>
	             				<div class="dev-links pull-right">
	             				<a href="javascript:void(0)" class="icon-like active" title="Like this" rel="tooltip"></a>
	             				</div>
        					</div>
		</div><!--basicInfo-->
		
		
		<div class="dev-stat pull-left">
			<div class="clearfix">
				<div class="dev-appNum pull-left" title="View All Apps" rel="tooltip">
					<big><%= numOfApps %></big><small>APPS</small>
				</div><!--appNum-->
				<div class="pull-left">
					<div class="dev-focus">
						<span class="dev-statTitle">focus</span>
						<span class="dev-statContent">
						<% for (var i=0; i < main_category.length; i++) {  %>
						 <% if (i > 0) { %>, <%}%><a href=""><%= main_category[i] %></a>
						<% } %>

						</span>
					</div><!--focus-->
					<div class="dev-appRate">
						<span class="dev-statTitle">avg</span>
						<span class="dev-statContent" title="<%= app_avg_score %>"><span class="dev-raty"></span>(<%= app_total_rating_count %>)</span>	        
					</div><!--rate-->
				</div>
			</div>
			<div class="badges">
			<% for (var i=0; i < badges.length; i++) {  %>
				<a class="badge" href="javascript:void(0)"><i class='icon-certificate icon-white'></i> <%= badges[i] %> </a>
			<% } %>
			</div>
			<hr>
			<div class="tags ">
			<% for (var i=0; i < tags.length; i++) { %>
				<a class="tag" href="javascript:void(0)"><i class='icon-tag icon-white'></i> <%= tags[i] %></a>
			<% } %>
			</div>

		</div><!--stat-->
		
		
		<div class="dev-appsContainer pull-right">
			<div class="dev-apps clearfix">
				<% for(var i=0; i<apps.length; i++) { %>
				<div class="dev-app">
					<img class="dev-appLogo" src="assets/<%= apps[i].app_logo %>" 
						rel="popover" data-content="
						<div class='flexslider' style=' 
							<% if(apps[i].app_screenshots[0].width > apps[i].app_screenshots[0].height) { %>
								width:300px; height:<%= Math.floor(300*apps[0].app_screenshots[0].height/apps[i].app_screenshots[0].width-1) %>px
							<% } else { %>
								height:300px; width:<%= Math.floor(300*apps[0].app_screenshots[0].width/apps[i].app_screenshots[0].height-1) %>px
							<% } %>' 
						 >
						<ul class='slides'>
						<% for(var j=0; j<apps[i].app_screenshots.length; j++) { %>
						<li>
							<img src='assets/<%= apps[i].app_screenshots[j].url %>' style='width:100%;height:auto;' />
						</li>
						<% } %>
						</ul> 
						
						</div>
						" />
					<div class="dev-appName"><%= apps[i].app_name %></div>
					<div class="dev-appCat">in <a href="#"><%= apps[i].app_category %></a></div>
					<div class="dev-appPrice btn btn-small">
						<% if (apps[i].app_price > 0 ) { %>
							$<%= apps[i].app_price %>
						<% } else { %>
							FREE
						<% } %>
					</div>
				</div><!--app-->
				<% } %>
			</div><!--apps-->
		</div><!--appsContainer-->
		

	