

	
		<div class="dev-basicInfo pull-left">
			<div class="dev-where">
				<span class="dev-location">
					<i class="icon-map-marker"></i> <%= location %>
				</span> - 
				<span class="dev-distance">
					<%= distance %> far from you
				</span>
			</div><!--where-->
			<div class="dev-name">
				<%= name %>
				<% if (obj.verified && verified > 0) {%>
				<i class="icon-verified" title="Verified" rel="tooltip"></i>
				<% } %>
			</div><!--name-->
			<div class="dev-rate">
			<%= rate %>
			</div>
			<div class="dev-desc">
			<%= description %>
			</div>
			<div class="clearfix">
	        					<div class="dev-links pull-left">
	        						<a href="" class="icon-like active" title="Like this" rel="tooltip"></a>
	        						<a <% if (obj.homepage) { %>
	        						 href="<%= homepage %>"
	        						<% } %> class="icon-homepage 
	        						<% if (obj.homepage) { %>
	        						active
	        						<% } %>" title="Homepage" 
	        						rel="tooltip" target="_blank"></a>
	        						
	        						<a <% if (obj.twitter) { %>
	        						 href="<%= twitter %>"
	        						<% } %> class="icon-twi 
	        						<% if (obj.twitter) { %>
	        						active
	        						<% } %>" title="Twitter" 
	        						rel="tooltip" target="_blank"></a>
	        						
	        						<a <% if (obj.email) { %>
	        						 href="mailto:<%= email %>"
	        						<% } %> class="icon-email 
	        						<% if (obj.email) { %>
	        						active
	        						<% } %>" 
	        						title="Email"  rel="tooltip" target="_blank"></a>
	        						
	             				</div>
        					</div>
		</div><!--basicInfo-->
		
		
		<div class="dev-stat pull-left">
			<div class="clearfix">
				<div class="dev-appNum pull-left">
					<big><%= numOfApps %></big><small>APPS</small>
				</div><!--appNum-->
				<div class="pull-left">
					<div class="dev-focus">
						<span class="dev-statTitle">focus</span>
						<span class="dev-statContent">
						<% for (var i=0; i < main_category.length; i++) {  %>
						 <% if (i > 0) { %>, <%}%><a href=""><%= main_category[i] %></a>
						<% } %>

						</span>
					</div><!--focus-->
					<div class="dev-appRate">
						<span class="dev-statTitle">avg</span>
						<span class="dev-statContent" title="<%= app_avg_score %>"><%= app_avg_score %></span>	        
					</div><!--rate-->
				</div>
			</div>
			<hr>
			<div class="badges">
			<% for (var i=0; i < badges.length; i++) {  %>
				<a class="badge" href="javascript:void(0)"><i class='icon-certificate icon-white'></i> <%= badges[i] %> </a>
			<% } %>
			</div>
			<hr>
			<div class="tags ">
			<% for (var i=0; i < tags.length; i++) { %>
				<a class="tag" href="javascript:void(0)"><i class='icon-tag icon-white'></i> <%= tags[i] %></a>
			<% } %>
			</div>

		</div><!--stat-->
		
		
		<div class="dev-appsContainer pull-right">
			<div class="dev-apps">
				<% for(var i=0; i<apps.length; i++) { %>
				<div class="dev-app">
					<img class="dev-appLogo" src="assets/<%= apps[i].app_logo %>" />
					<div class="dev-appName"><%= apps[i].app_name %></div>
					<div class="dev-appCat">in <a href="#"><%= apps[i].app_category %></a></div>
					<div class="dev-appPrice btn btn-small">
						<% if (apps[i].app_price > 0 ) { %>
							$<%= apps[i].app_price %>
						<% } else { %>
							FREE
						<% } %>
					</div>
				</div><!--app-->
				<% } %>
			</div><!--apps-->
		</div><!--appsContainer-->
		

	