<div id="app-id">
	<div class="social-share">
		<ul>
			<li style="height:31px"><span class="btn btn-small">Facebook</span></li>
			<li style="height:31px"><span class="btn btn-small">Twitter</span></li>
			<li style="height:31px"><span class="btn btn-small">Google+</span></li>
			<li style="height:31px"><span class="btn btn-small">Pin</span></li>
		</ul>
	</div>
	<div class="media">
		
		<a class="app-icon pull-left" href="#">
			<% if (icon_url != '') { %>
				<img class='img-rounded' src="assets/<%= icon_url %>" style="width:75px;height:75px" />
			<% } else { %>
				<img src="http://placehold.it/75x75" />
			<% } %>
		</a>
		<div class="media-body">
			<div class="media-title">
			<div class="app-name media-heading">
				<%= title %>
			</div>
			</div>
			<div class="app-rating">
			<% for (var i=0; i< 5; i=i+1) {
			    if(i < parseInt(ratings)) {  %>
					<i class='icon-star pull-left'></i>
				<% } else { %>
					<i class='icon-star-empty pull-left'></i>
				<%  } %>
			<% } %>
			<div class="app-ratings-count">(<%= like_count %>)</div>
			</div>
			<div class="app-developer">
			by <a href="#"><%= developer %></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div><!--/media -->
	<div>
		<div class="app-screenshot" >
			<ul class="rslides">
			<% for (i = 0; i < screenshot_url.length; i++ ) { %>
				<li> <img src ="assets/<%= screenshot_url[i] %>" alt="" /> </li>
			<% } %>
			</ul>
		</div>
	</div>
	
	<div class="app-tags app-activity">
		<h4> Tags </h4>
		<ul class="tags">
		<% for (var i=0; i < tags.length; i++) { %>
			<li> <a class="tag" href="javascript:void(0)"> <%= tags[i] %></a> </li>
		<% } %>
		</ul>
	</div>
	<div class="app-badges app-activity">
		<h4> Badges </h4>
		<ul class="badges">
		<% for (var i=0; i < badges.length; i++) { %>
			<li><a class="badge" href="javascript:void(0)"> <span> <%= badges[i] %></span> </a> </li>
		<% } %>
		</ul>
	</div>
	<div class="app-long-description" >
		<p>
			<%= short_description %>
		</p>
	</div>
</div><!--/#app-id -->