
<div id="app-<%= id %>" class="detail detailPage container">
	<ul class="breadcrumb">
	  <li><a href="">Home</a> <span class="divider">/</span></li>
	  <li><a href="apps">Apps Search</a> <span class="divider">/</span></li>
	  <li class="active"><%= title %></li>
	</ul>
	<div id="detail-primary">
		<div class="media">
			
			<a class="app-icon pull-left" href="#">
				<% if (icon_url != '') { %>
					<img class='img-rounded' src="assets/<%= icon_url %>" width="114px" height="114px" />
				<% } else { %>
					<img src="http://placehold.it/114x114" />
				<% } %>
			</a>
			<div class="media-body">
				<div class="media-title">
					<div class="app-name media-heading">
						<%= title %>
					</div>
				</div>
				<div class="app-developer">
					by <a href="#"><%= developer %></a>
				</div>
				<div class="app-category">
					<a href="">Games</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div><!--/media -->
		<div class="app-short-description">
				<%= short_description %> <a href="#" class="expand">Expand >></a>
		</div>
		<div class="app-long-description none">
				<%= long_description %> <a href="#" class="folded">Folded <<</a>
		</div>
		<div>
			<a href="#" id="lnk_screenshots"> screenshots </a> |
			<a href="#" id="lnk_videos"> video</a>
		</div>
		<div>
			<div class="app-screenshot" >
				<div id="flexslider" class="flexslider">
				<ul class="slides">
				<% for (i = 0; i < screenshot_url.length; i++ ) { %>
					<li> <img src ="assets/<%= screenshot_url[i] %>" alt="" /> </li>
				<% } %>
				
				</ul>
				</div>
				
				
				<% if( videos.length >0 ) { %>
				<div id="video_flexslider" class="flexslider" style="display:none">
					<ul class="slides" >
					<% for (i = 0; i < videos.length; i++ ) { %>
						<li> <div id="player<%=i%>" ></div></li>
					<% } %>
					</ul>
				</div>
				<% } %>
					
				
			</div>
		</div>
		
		<div id="detail-commentsContainer">
			<h4 class="detail-secendary-title">Reviews</h4>
			<div class="detail-comment">
				<a class="pull-left" href="#">
					    	<img class="user-avatar" src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif">
				</a>
				<div class="detail-comment-body">
						<div href="" class="btn btn-small"><i class="icon-heart"> </i>Like</div>
							<textarea id="detail-postComment-ta"></textarea>				
						<div href="" class="btn">Submit</div>
				</div>
			</div>
			<ul id="detail-comment-list">
			<% for (var i=0; i < comments.length; i++) { %>
				<li class="detail-comment">
					<a class="pull-left" href="#">
				    	<img class="user-avatar" src="<%= comments[i].user_avatar %>">
				    </a>
				    <div class="detail-comment-body">
				    <p class="detail-comment-heading">
				    <a href="" class="detail-comment-user"><%= comments[i].user_name %></a> 
				     <% if (comments[i].user_title && comments[i].user_title != "") { %> 
				      <span class="detail-comment-title"><%= comments[i].user_title %></span> 				     
				    <% } %>
				     <% if (comments[i].user_company && comments[i].user_company != "") { %> 
				     @<a class="detail-comment-company" href="<%= comments[i].company_url %>"><%= comments[i].user_company %></a> 				     
				    <% } %>
				    <% if (comments[i].is_like > 0) { %>
					    <span class="detail-comment-like">likes this <i class="icon-heart"></i></span>
				    <% } %>
				     <span class="detail-comment-time"><%= comments[i].time %></span> 
				    </p>
				    <%= comments[i].comment %>
				    </div>				
				</li>

			<% } %>				

			</ul>
		</div>


	</div><!--/.popup-primary-->
	<div id="detail-secondary">
		<div class="btn-toolbar">
			<div href="#" class="btn btn-install btn-info">
			<span class="price-text 
				<% if (price <= 0.5 ) { %>
	    			 btn-info
				<% }  %> ">
				<% if (price <= 0.5 ) { %>
	    			FREE
				<% } else {  %> 
					$<%= price %>
				<% } %>
				
			</span><span class="install-text" style="display:none">Install</span>
			</div>
		</div>

		<div class="clearfix">
			<div class="app-tags">
			<% for (var i=0; i < tags.length; i++) { %>
				<a class="tag" href="javascript:void(0)"><%= tags[i] %></a>
			<% } %>
			</div>
		</div>
		<div class="clearfix">
			<div class="app-badges">
			<% for (var i=0; i < badges.length; i++) { %>
				<a class="badge" href="javascript:void(0)"> <span> <%= badges[i] %></span> </a>
			<% } %>
			</div>
		</div>
		
		<div class="clearfix">
		<h4 class="detail-secendary-title">Ratings</h4>
				<span class="app-rating raty-big"></span>
				<span class="app-ratings-count"> (<%= like_count %>)</span>

		</div>
		<div class="clearfix">
			<div class="pull-left detail-like">
				<p>people who like it</p>
				<big class="detail-like-count">7397</big>
			</div>
			<div class="pull-left detail-pin">
				<p>people who pin it</p>
				<big class="detail-pin-count">7397</big>
			</div>
		</div>
		<div class="social-share clearfix pt20">
					<span class='st_facebook_large' displayText='Facebook'></span>
					<span class='st_twitter_large' displayText='Tweet'></span>
					<span class='st_pinterest_large' displayText='Pinterest'></span>
					<span class='st_linkedin_large' displayText='LinkedIn'></span>
					<span class='st_email_large' displayText='Email'></span>
		</div>
		<div id="detail-related">
			<h4 class="detail-secendary-title">Related Apps</h4>
			<div class="detail-apps">
				
				<% for (var i=0 ; i<similar_apps.length; i++) { %>
					<div class="detail-app clearfix" >
					<div class="media" > 
						<a href="#" class="app-icon pull-left">
						<img class="img-rounded" src="assets/<%= similar_apps[i].icon %>" width="57px" height="57px" /></a>
						<div class="media-body">
						<div class="app-title">
						<%=similar_apps[i].name %>
						</div>
						
						<div class="app-developer">
						<%=similar_apps[i].developer %>
						</div>
						<div class="app-rating">
							<% for (var j=0; j< 5; j=j+1) {
							    if(i < parseInt(similar_apps[i].ratings)) {  %>
									<i class='icon-star pull-left'></i>
								<% } else { %>
									<i class='icon-star-empty pull-left'></i>
								<%  } %>
							<% } %>
						</div>
						</div>
					</div>
					</div>
				<% }  %>
			    <div class="clearfix"></div>
			</div>
		</div>
	</div>
<div class="clearfix"></div>
</div><!--/#app-id -->
	
	
