<div id="app-id">

	<div class="media">
		<a class="app-icon pull-left" href="#">
			<img src="http://placehold.it/57x57" />
		</a>
		<div class="media-body">
			<div class="app-name media-heading">
			<%= title %>
			</div>
			<div class="app-rating">
			<%= ratings %>(1000)
			</div>
			<div class="app-developer">
			by <a href="#"><%= developer %></a>
			</div>
		</div>
	</div><!--/media -->
	<div style="position:relative">
	<div class="app-screenshot">
			<img src="http://placehold.it/<%= screenshot_width %>x<%= screenshot_height %>" />
	</div>
	<div class="app-short-description">
		<div class="hover-overlay"><span > <%= short_description %> </span></div>
	</div>
	</div>
	<div class="btn-toolbar">
		<a href="#" class="btn-group">
		<span class="btn">
			<% if (price <= 0.5 ) { %>
    			FREE
			<% } else {  %> 
				<%= price %>
			<% } %>
			
		</span><span class="btn">Install</span>
		</a>
 
		
		<a href="javascript:void(0)" class="btn">
		Share
		</a>
		<div class="menu-share">
			<a href="#"> Facebook </a>
			<a href="#"> Google+ </a>
			<a href="#"> Twitter </a>
			<a href="#"> Pin it! </a>
		</div>
	</div>
	<div class="app-category">
		<a href="#"><%= category %></a>
	</div>
	<div class="app-like">
		<i class="icon-heart 
			<% if ( like == false ) { %> 
				icon-white
			<% } %>
		"></i><%= like_count %>
	</div>
	<div class="app-video">
		<% if ( video_url != "" ) { %>
			<a href="<%= video_url %>"><i class="icon-facetime-video"></i></a>
			
		<% } %>
	</div>
	
</div><!--/#app-id -->