
<p>
  <b>Icon url:</b>
  <img src="/assets/<%= icon_url %>"/>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Developer:</b>
  <%= developer %>
</p>

<p>
  <b>Ratings:</b>
  <%= ratings %>
</p>

<p>
  <b>Screenshot url:</b>
  <%= screenshot_url %>
</p>

<p>
  <b>Short description:</b>
  <%= short_description %>
</p>

<p>
  <b>Long description:</b>
  <%= long_description %>
</p>

<p>
  <b>Like count:</b>
  <%= like_count %>
</p>

<p>
  <b>Video url:</b>
  <%= video_url %>
</p>