<div id="app-<%= id %>">
	<div class="media">
		<div class="media-title">
			<div class="app-name media-heading">
				<%= title %>
			</div>
		</div>
		<a class="app-icon pull-left" href="#">
			<% if (icon_url != '') { %>
				<img class='img-rounded' src="assets/<%= icon_url %>" style="width:57px;height:57px" />
			<% } else { %>
				<img src="http://placehold.it/57x57" />
			<% } %>
		</a>
		<div class="media-body">
			
			<div class="app-rating">
			<% for (var i=0; i< 5; i=i+1) {
			    if(i < parseInt(ratings)) {  %>
					<i class='icon-star pull-left'></i>
				<% } else { %>
					<i class='icon-star-empty pull-left'></i>
				<%  } %>
			<% } %>
				<div class="app-ratings-count pull-left"> (<%= like_count %>)</div>
			</div>
			<div class="app-developer">
				by <a href="#"><%= developer %></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div><!--/media -->
	<div class="mosaic-block bar" style= 'height: 
			<%= screenshot_height * 190 / screenshot_width %>px;
	'>
	<div class="app-short-description mosaic-overlay" style="left: 0px;">
		<div class="details">
			<p><%= short_description %> <i class="icon-search icon-white"></i></p>
		</div>
	</div>
	<div class="app-screenshot mosaic-backdrop" >
		<% if (screenshot_url != '') { %>
			<img src="assets/<%= screenshot_url %>" 
			style="max-width:none;
				width:190px;height:auto;
			   
			position: relative;" />
		<% } else { %>
			<img src="http://placehold.it/<%= screenshot_width %>x<%= screenshot_height %>" />
		<% } %>
	</div>
	
	</div>
	<div class="btn-toolbar">
		<a href="#" class="btn-group">
		<span class="btn btn-small btn-price 
			<% if (price <= 0.5 ) { %>
    			 btn-info
			<% }  %> ">
			<% if (price <= 0.5 ) { %>
    			FREE
			<% } else {  %> 
				$<%= price %>
			<% } %>
			
		</span><span class="btn btn-small btn-install">Install</span>
		</a>
 
		
		<div href="javascript:void(0)" class="app-share-btn btn btn-small pull-right">
			<i class="icon-share"></i>
			<div class="menu-share">
				<a href="#"> Facebook </a>
				<a href="#"> Google+ </a>
				<a href="#"> Twitter </a>
				<a href="#"> Pin it! </a>
			</div>	
		</div>
			
	</div>
	<div class="app-category">
		<a href="#"><%= category %></a>
	</div>
	<div class="app-like pull-left">
		<i class="icon-heart 
			<% if ( like == false ) { %> 
				icon-gray
			<% } %>
		"></i>
		<%= like_count %>
	</div>
	<div class="app-video pull-right">
		<% if ( video_url != "" ) { %>
			<a href="<%= video_url %>"><i class="icon-facetime-video"></i></a>
			
		<% } %>
	</div>
</div><!--/#app-<%= id %> -->