<div id="app-id">

	<div class="media">
		<div class="media-title">
			<div class="app-name media-heading">
				<%= title %>
			</div>
		</div>
		<a class="app-icon pull-left" href="#">
			<% if (icon_url != '') { %>
				<img src="assets/<%= icon_url %>" style="width:57px;height:57px" />
			<% } else { %>
				<img src="http://placehold.it/57x57" />
			<% } %>
		</a>
		<div class="media-body">
			
			<div class="app-rating">
			<%= ratings %>(1000)
			</div>
			<div class="app-developer">
			by <a href="#"><%= developer %></a>
			</div>
		</div>
		<div class="clearfix"></>
	</div><!--/media -->
	<div class="mosaic-block bar" style= 'height: 
		<% if( screenshot_width > screenshot_height ) { %>
			<%= screenshot_height %>px;
		<% } else { %>
			<%= screenshot_height * 190 / screenshot_width %>px;
		<% } %>
	'>
	<div class="app-short-description mosaic-overlay" style="display: inline; left: 0px; bottom: -100px;">
		<div class="details">
			<p> <%= short_description %> </p>
		</div>
	</div>
	<div class="app-screenshot mosaic-backdrop" >
		<% if (screenshot_url != '') { %>
			<img src="assets/<%= screenshot_url %>" 
			style="max-width:none;
				<% if( screenshot_width > screenshot_height ) { %>
					width:<%= screenshot_width %>px;left: -<%= (screenshot_width - 190)/2 %>px;
				<% } else { %>
				    width:190px;
				<% } %>
			   
			position: relative;" />
		<% } else { %>
			<img src="http://placehold.it/<%= screenshot_width %>x<%= screenshot_height %>" />
		<% } %>
	</div>
	
	</div>
	<div class="btn-toolbar">
		<a href="#" class="btn-group">
		<span class="btn">
			<% if (price <= 0.5 ) { %>
    			FREE
			<% } else {  %> 
				<%= price %>
			<% } %>
			
		</span><span class="btn">Install</span>
		</a>
 
		
		<a href="javascript:void(0)" class="btn">
		Share
		</a>
		<div class="menu-share">
			<a href="#"> Facebook </a>
			<a href="#"> Google+ </a>
			<a href="#"> Twitter </a>
			<a href="#"> Pin it! </a>
		</div>
	</div>
	<div class="app-category">
		<a href="#"><%= category %></a>
	</div>
	<div class="app-like">
		<i class="icon-heart 
			<% if ( like == false ) { %> 
				icon-white
			<% } %>
		"></i>
		<%= like_count %>
	</div>
	<div class="app-video">
		<% if ( video_url != "" ) { %>
			<a href="<%= video_url %>"><i class="icon-facetime-video"></i></a>
			
		<% } %>
	</div>
	
	<div class="popup">
        <p>Lots of content</p>
    </div>
</div><!--/#app-id -->